<section class="hero hero-bg-restaurant">
  <div class="container">
    <a href="http://surl.li/ewpqp" class="hero-address-mobile" target="_blank">
      <svg class="location-icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-location"></use>
      </svg>
      <span class="hero-address__text"
        >Україна, м. Полтава,<br />вул. Маршала Бірюзова, 15</span
      >
    </a>

    <h1 class="hero-title">Mimih<span class="last-letter">o</span></h1>
    <h2 class="hero-pretitle">Ресторан</h2>
    <p class="hero-subtitle">Смак життя 24/7</p>

    <div class="hero-box">
      <a href="http://surl.li/ewpqp" class="hero-address" target="_blank">
        <svg class="location-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-location"></use>
        </svg>
        <span class="hero-address__text"
          >Україна, м. Полтава,<br />вул. Маршала Бірюзова, 15</span
        >
      </a>

      <ul class="hero-button-list">
        <li>
          <button type="button" class="hero-button">Забронювати столик</button>
        </li>
        <li>
          <button type="button" class="hero-button">Забронювати номер</button>
        </li>
      </ul>
    </div>

    <ul class="hero-sn">
      <li class="hero-sn__item">
        <a
          class="hero-sn__link"
          href="https://www.instagram.com/"
          target="_blank"
        >
          <svg class="social-network-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hero-sn__item">
        <a
          class="hero-sn__link"
          href="https://www.facebook.com/"
          target="_blank"
        >
          <svg class="social-network-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hero-sn__item">
        <a
          class="hero-sn__link"
          href="https://web.telegram.org"
          target="_blank"
        >
          <svg class="social-network-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
