.about-restaurant-slider {
    @media screen and (max-width: $max-mobile) {
        transform: translateX(15px);
        margin-left: -15px;
    }

    @media screen and (min-width: $tablet) {
        transform: translateY(-27px);
        margin-bottom: -27px;
    }

    @media screen and (min-width: $desktop ) {
        transform: translateY(-146px);
        margin-bottom: -146px;
    }
}

.about-restaurant-swiper {
    position: relative;
    z-index: 1;
    margin-left: auto;
    overflow: hidden;
    
    @media screen and (max-width: $max-mobile) {
        max-width: 330px;
    }

    @media screen and (min-width: $tablet) {
        max-width: 428px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 548px;
    }
}

.about-restaurant-swiper__wrapper {
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 32px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 36px;
    }
}

.about-restaurant-swiper__slide {
    width: 245px;
}

.about-restaurant-swiper-btns {
    display: flex;
    justify-content: end;
    gap: 32px;

    @media screen and (max-width: $max-mobile) {
        margin-right: 15px;
    }
}
.about-restaurant-swiper-btns__button {
    border: 0px;
    height: 32px;
    background-color: transparent;
}

.about-restaurant-swiper-btns__icon {
    &:hover, :focus {
        fill: $accent-color;
    }
}

