.header {
    background-color: transparent;
}

.header__container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;

    display: flex;
    align-items: center;
    overflow: hidden;

    padding-top: 16px;
    padding-bottom: 9px;

    @media screen and (min-width: $tablet) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.logo {
    @include font-style($ff: 'Film P3', $fw: 700,
        $fs: 36px, $lh: 1.08, $ls: 0.3em);
    color: $text-color;
    text-transform: uppercase;

    margin-right: auto;

    @media screen and (min-width: $tablet) {
        font-size: 40px;
    }
}

.site-nav {
    @media screen and (min-width: $desktop) {
        margin-right: 140px;
    }
}

.site-nav__list {
    display: flex;
    gap: 20px;

    @media screen and (min-width: $tablet) {
        gap: 72px;
    }
}

.site-nav__item {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 6px;

    @media screen and (min-width: $tablet) {
        gap: 32px;
    }
}

.sitr-nav__contacts {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, :focus {
        border-color: $accent-color;
    }

    &:hover .site-nav__icon, :focus .site-nav__icon{
        fill: $accent-color;
    }

    @media screen and (min-width: $tablet) {
        border: 1px solid $primary-color;
        border-radius: 2px;

        gap: 4px;
        padding: 7px;
    }
}

.site-nav__link {
    @include font-style($ff: 'Montserrat', $fw: 500,
        $fs: 16px, $lh: 1.25, $ls: 0.02em);
    color: $primary-color;

    padding-top: 7px;
    padding-bottom: 7px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, :focus {
        color: $accent-color;
    }

    @media screen and (min-width: $tablet) {
        font-size: 20px;;
    }
}

.site-nav__phone-number {
    display: flex;
    @include font-style($ff: 'Montserrat', $fw: 400,
        $fs: 14px, $lh: 1.21, $ls: 0.02em);
    color: $text-color;

    padding-top: 2px;

    @media screen and (max-width: $max-mobile) {
        display: none;
    }      
}

.site-nav__icon {
    fill: $primary-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-sn {
    @media screen and (max-width: $max-tablet) {
        display: none;
    }

    display: flex;
    align-items: center;

    gap: 20px;
}

.header-sn__link {
    display: flex;
}