<section class="restaurant">
  <div class="container">
    <div class="restaurant__information-block">
      <h3 class="mimiho-title restaurant__mimiho-title">
        Mimih<span class="last-letter">o</span>
      </h3>
      <h4 class="restaurant__title">Ресторан</h4>
      <p class="restaurant__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="restaurant__navigation-block">
      <div class="restaurant-btns restaurant-btns-desktop">
        <button type="button" class="restaurant-btns__button">
          Забронювати столик
        </button>
        <a
          href="./restaurant.html"
          class="restaurant-btns__button restaurant-btns__button-link"
          >Переглянути меню</a
        >
      </div>
      <div class="restaurant-slider" data-slider="data-slider">
        <div class="restaurant-swiper">
          <ul class="restaurant-swiper__wrapper swiper-wrapper">
            <li class="restaurant-swiper__slide swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/mobile-image/mobile-slide-photo-restaurant-5.jpg    1x,
                    ./images/mobile-image/mobile-slide-photo-restaurant-5@x2.jpg 2x
                  "
                  media="(max-width: 1023px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/tablet-image/tablet-slide-photo-restaurant-5.jpg    1x,
                    ./images/tablet-image/tablet-slide-photo-restaurant-5@x2.jpg 2x
                  "
                  media="(max-width: 1279px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/desktop-image/desktop-slide-photo-restaurant-5.jpg    1x,
                    ./images/desktop-image/desktop-slide-photo-restaurant-5@x2.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  class="restaurant-swiper__img"
                  src="./images/mobile-image/mobile-slide-photo-restaurant-5.jpg"
                  alt="Застілля в ресторані"
                />
              </picture>
            </li>
            <li class="restaurant-swiper__slide swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/mobile-image/mobile-slide-photo-restaurant-6.jpg    1x,
                    ./images/mobile-image/mobile-slide-photo-restaurant-6@x2.jpg 2x
                  "
                  media="(max-width: 1023px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/tablet-image/tablet-slider-photo-restaurant-7.jpg    1x,
                    ./images/tablet-image/tablet-slider-photo-restaurant-7@x2.jpg 2x
                  "
                  media="(max-width: 1279px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/desktop-image/desktop-slide-photo-restaurant-4.jpg    1x,
                    ./images/desktop-image/desktop-slide-photo-restaurant-4@x2.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  class="restaurant-swiper__img"
                  src="./images/mobile-image/mobile-slide-photo-restaurant-6.jpg"
                  alt="Застілля в ресторані"
                />
              </picture>
            </li>
            <li class="restaurant-swiper__slide swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/mobile-image/mobile-slide-photo-restaurant-5.jpg    1x,
                    ./images/mobile-image/mobile-slide-photo-restaurant-5@x2.jpg 2x
                  "
                  media="(max-width: 1023px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/tablet-image/tablet-slide-photo-restaurant-5.jpg    1x,
                    ./images/tablet-image/tablet-slide-photo-restaurant-5@x2.jpg 2x
                  "
                  media="(max-width: 1279px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/desktop-image/desktop-slide-photo-restaurant-1.jpg    1x,
                    ./images/desktop-image/desktop-slide-photo-restaurant-1@x2.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  class="restaurant-swiper__img"
                  src="./images/mobile-image/mobile-slide-photo-restaurant-5.jpg"
                  alt="Застілля в ресторані"
                />
              </picture>
            </li>
            <li class="restaurant-swiper__slide swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/mobile-image/mobile-slide-photo-restaurant-6.jpg    1x,
                    ./images/mobile-image/mobile-slide-photo-restaurant-6@x2.jpg 2x
                  "
                  media="(max-width: 1023px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/tablet-image/tablet-slider-photo-restaurant-7.jpg    1x,
                    ./images/tablet-image/tablet-slider-photo-restaurant-7@x2.jpg 2x
                  "
                  media="(max-width: 1279px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/desktop-image/desktop-slide-photo-restaurant-2.jpg    1x,
                    ./images/desktop-image/desktop-slide-photo-restaurant-2@x2.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  class="restaurant-swiper__img"
                  src="./images/mobile-image/mobile-slide-photo-restaurant-6.jpg"
                  alt="Застілля в ресторані"
                />
              </picture>
            </li>
          </ul>

          <div class="restaurant-swiper-btns">
            <button
              type="button"
              class="restaurant-swiper-btns__button button-prev"
            >
              <svg class="restaurant-swiper-btns__icon" width="32" height="32">
                <use
                  href="./images/sprite.svg#icon-cil-arrow-left-swiper"
                ></use>
              </svg>
            </button>
            <button
              type="button"
              class="restaurant-swiper-btns__button button-next"
            >
              <svg class="restaurant-swiper-btns__icon" width="32" height="32">
                <use
                  href="./images/sprite.svg#icon-cil-arrow-right-swiper"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="restaurant-btns restaurant-btns-mobile">
        <button type="button" class="restaurant-btns__button">
          Забронювати столик
        </button>
        <a
          href="./restaurant.html"
          class="restaurant-btns__button restaurant-btns__button-link"
          >Переглянути меню</a
        >
      </div>
    </div>
  </div>
</section>
